.inputbox {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 2rem;
}
.inputbox i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.43);
}
.inputbox input {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0 1.5rem 0 1rem;
  outline: 0;
  transition: 0.3s;
}
.inputbox input:focus {
  color: black;
  transition: 0.3s;
}

/*# sourceMappingURL=input.css.map */
