body {
  margin: 0;
  padding: 0;
}
body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
body ul li {
  padding: 0.5rem;
  background: white;
}
body .slate .gradient-box {
  position: absolute;
  z-index: -1;
  top: 56px;
  left: 0;
  width: 100%;
  height: 185px;
  transition: 0.3s ease all;
  background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  padding-left: 60px;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
