.topbar {
  min-height: 40px;
  background: #303f9f;
  padding: 0.5rem 0.5rem;
  padding-left: 60px;
  background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  text-align: center;
}
.topbar .search-input {
  display: inline-block;
  width: 75%;
  max-width: 500px;
  height: 40px;
}
.topbar .search-input i {
  color: rgba(253, 253, 253, 0.64);
}
.topbar .search-input input {
  background: rgba(255, 255, 255, 0.28);
  border: 1px solid rgba(255, 255, 255, 0.23);
  color: rgba(255, 255, 255, 0.61);
}
.topbar .search-input input:focus {
  color: white;
  background: rgba(255, 255, 255, 0.1215686275);
  border: 1px solid rgba(255, 255, 255, 0.09);
}
.topbar .search-input input::-webkit-input-placeholder {
  color: white;
}
.topbar .search-input:hover input {
  background: rgba(255, 255, 255, 0.1215686275);
  border: 1px solid rgba(255, 255, 255, 0.09);
}
.topbar .navbar-list {
  float: right;
}
.topbar .navbar-list .profile-avatar {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0 5px;
  width: 40px;
  height: 40px;
}
.topbar .navbar-list .profile-avatar .profile-list {
  position: absolute;
  right: 0;
  width: 0px !important;
  overflow: hidden;
  transition: 0.2s;
}
.topbar .navbar-list .profile-avatar .profile-list.opened {
  width: 150px !important;
  transition: 0.2s;
}
.topbar .navbar-list .profile-avatar .profile-list li {
  cursor: pointer;
}
.topbar .navbar-list .profile-avatar .profile-list li:hover {
  background: #e8e8e8;
}
.topbar .navbar-list .profile-avatar .avatar {
  cursor: pointer;
}
.topbar .navbar-list .profile-avatar .avatar::after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.1215686275);
  display: inline-block;
  transition: 0.2s;
}
.topbar .navbar-list .profile-avatar .avatar:hover::after {
  opacity: 1;
  transition: 0.2s;
}
.topbar .navbar-list .notification-container {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.topbar .navbar-list .notification-container .notification-icon {
  display: inline-block;
  padding: 0.5rem 0rem;
  font-size: 1.5rem;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.topbar .navbar-list .notification-container .notification-icon:hover {
  background: rgba(0, 0, 0, 0.1);
}
.topbar .navbar-list .notification-container .notification-icon .notification-count {
  font-size: 0.7rem;
  position: absolute;
  top: 4px;
  right: 6px;
  display: none;
}
.topbar .navbar-list .notification-container .notification-card {
  position: absolute;
  min-width: 250px;
  right: -500px;
  transition: 0.3s;
}
.topbar .navbar-list .notification-container .notification-card .notificaion-item {
  padding-bottom: 0.6rem;
  background: white;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}
.topbar .navbar-list .notification-container .notification-card .notificaion-item .notification-content {
  position: relative;
}
.topbar .navbar-list .notification-container .notification-card .notificaion-item .notification-content .notification-type-icon {
  color: #636363;
  position: absolute;
  left: 0;
  font-size: 1.1rem;
  padding: 0.5rem;
  transition: 0.3s;
}
.topbar .navbar-list .notification-container .notification-card .notificaion-item .notification-content .notification-text {
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 2rem;
  text-align: left;
  transition: 0.3s;
  color: #636363;
}
.topbar .navbar-list .notification-container .notification-card .notificaion-item .time-stamp {
  font-size: 0.75rem;
  color: #6f6f6f;
  position: absolute;
  left: 2rem;
  bottom: 1px;
  transition: 0.3s;
}
.topbar .navbar-list .notification-container .notification-card .notificaion-item:hover {
  background: #e8e8e8;
  transition: 0.3s;
}
.topbar .navbar-list .notification-container .notification-card.open {
  right: 0;
  transition: 0.3s;
}
.topbar .navbar-list .message-container {
  display: inline-block;
  vertical-align: middle;
}
.topbar .navbar-list .message-container .message-icon {
  display: inline-block;
  padding: 0.5rem 0rem;
  font-size: 1.5rem;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
}
.topbar .navbar-list .message-container .message-icon:hover {
  background: rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=topbar.css.map */
