.inputbox{
    display: inline-block;
    width: 100%;
    // max-width: 450px;
    position: relative;
    height: 2rem;
    // cursor: pointer;

    i{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(0, 0, 0, 0.43);
    }

    input{
        width: 100%;
        height: 100%;
        display: inline-block;
        padding: 0;
        margin: 0;
        border: 0;
        // background: rgba(255, 255, 255, 0.12156862745098039);
        // border: 1px solid rgba(255, 255, 255, 0.09);
        border-radius: 6px;
        box-sizing: border-box;
        padding: 0 1.5rem 0 1rem;
        outline: 0;
        transition: 0.3s;
        

        &:focus { 
            color: black; 
            transition: 0.3s;
        }
    }
}