@import "./theme.scss";

body{
    margin: 0;
    padding: 0;

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: left;
        li{
            padding: 0.5rem;
            background: white;
        }
    }

    .slate{
        .gradient-box{
            position: absolute;
            z-index: -1;
            top: 56px;
            left: 0;
            width: 100%;
            height: 185px;
            transition: .3s ease all;
            background: $primary-background-gradient;
            padding-left: 60px;
            box-sizing: border-box;
        }
    }
}