@import "./theme.scss";
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
.sidebar{
    width: 60px;
    background: $primary-background-color;
    transition: 0.3s;
    height: 100vh;
    display: inline-block;
    padding-top: 3.8rem;
    position: fixed;
    // left: -200px;
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.1);
    // padding-right: 0.5rem;
    z-index: 60;

    &.open{ 
        // left: 0%;
        width: 250px;
        transition: 0.2s;
        .nav-item{
            text-align: left;
            padding-left: 1.5rem;
            transition: 0.3s;
            border-radius: 0 5px 5px 0;
            margin-right: 0.5rem;
            p{
                display: inline-block;
            }
            .nav-icon{
                left: 30px;
                // transform: translateX(-50%);
            }
            &::after{
                border-radius: 0 5px 5px 0;
            }
        }
        
    }

    .hamburger {
        position: absolute;
        left: 50%;
        top: 10px;
        padding: 5px 5px;
        height: 30px;
        outline: none;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
        transform: translateX(-50%);
        
        .hamburger-box{
            width: 20px;
            height: 20px;
            .hamburger-inner{
                background-color: $primary-text-color;
                width: 20px;
                &::after{
                    background-color: $primary-text-color;
                    width: 20px;
                    bottom: -7px;
                }
                &::before{
                    background-color: $primary-text-color;
                    width: 20px;
                    top: -7px;
                }

            }
           
        }
        &.is-active{
            left: 90%;
            .hamburger-box{
               
                // transform: initial;
                .hamburger-inner{
                    &::after{
                        bottom: initial;
                    }
                    &::before{
                        top: initial;
                    }
                }
            }   
            
           
        }
    }
    .nav-item {
        padding: 0.5rem;
        position: relative;
        // margin-right: 1rem;
        cursor: pointer;
        // border-bottom-right-radius: 12px;
        // border-top-right-radius: 12px;
        text-align: center;
        min-height: 20px;
        // border-radius: 0 5px 5px 0;
        .nav-icon{
            width: 25px;
            position: absolute;
            z-index: 50;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            svg{
                path, polygon{
                    fill: rgba(0,0,0,0.5);
                }
            }
        }

        p{
            display: none;
            // vertical-align: middle;
            color: $primary-text-color;
            z-index: 50;
            position: relative;
            margin: 0;
            margin-left: 2rem;

        }

        &::after {
            position: absolute;
            content: "";
            /* height: 2px; */
            left: 0%;
            right: 100%;
            bottom: 0;
            top: 0;
            background: $primary-background-gradient;
            // border-bottom-right-radius: 12px;
            // border-top-right-radius: 12px;
            z-index: 0;
            transition: 0.3s;
            // border-radius: 0 5px 5px 0;


        }

        &:hover {
            background: $primary-hover-color;
            transition: 0.3s;
            // &::after {
            //     right: 0%;

            //     transition: 0.3s;
            // }
        }

        &.active {
            transition: 0.3s;
            &::after {
                right: 0%;
                transition: 0.3s;
            }
            
            .nav-icon{
                svg {
                    path, polygon{
                        fill: white;
                        transition: 0.3s;

                    }
                } 
            }
            
            p{
                color: white;
                transition: 0.3s;

            }
            
        }
    }

   
}