@import "./theme.scss";


@mixin nav-item-width-height {
    width: 40px;
    height: 40px;
}

.topbar{
    min-height: 40px;
    background: #303f9f;
    padding: 0.5rem 0.5rem;
    padding-left: 60px;
    background: $primary-background-gradient;
    text-align: center;

    .search-input{
        display: inline-block;
        width: 75%;
        max-width: 500px;
        height: 40px;
    
        i{
            color: rgba(253, 253, 253, 0.64);
        }
    
        input{
            background: rgba(255, 255, 255, 0.28);
            border: 1px solid rgba(255, 255, 255, 0.23);
            color: rgba(255, 255, 255, 0.61);
    
            &:focus { 
                color: white; 
                background: rgba(255, 255, 255, 0.12156862745098039);
                border: 1px solid rgba(255, 255, 255, 0.09);
            }

            &::-webkit-input-placeholder{
                color: white;
            }
        }

        &:hover {
            input {
                background: rgba(255, 255, 255, 0.12156862745098039);
                border: 1px solid rgba(255, 255, 255, 0.09);
            }
        }
    }

    .navbar-list {
        float: right;

        .profile-avatar{
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin: 0 5px;
            @include nav-item-width-height;
            .profile-list{
                position: absolute;
                right: 0;
                width: 0px !important;
                overflow: hidden;
                transition: 0.2s;
                &.opened{
                    width: 150px !important;
                    transition: 0.2s;
                }
    
                li{
                    cursor: pointer;
                    &:hover{
                        background: $primary-hover-color;
                        // color: white;
                    }
                    
                }
            }
    
            .avatar{
                cursor: pointer;
                &::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    background: rgba(0, 0, 0, 0.12156862745098039);
                    display: inline-block;
                    transition: 0.2s;
                }
                &:hover {
                    &::after{
                        opacity: 1;
                        transition: 0.2s;
    
                    }
                }
            }
        }

        .notification-container{
            display: inline-block;
            vertical-align: middle;
						overflow: hidden;
            .notification-icon{
                display: inline-block;
                padding: 0.5rem 0rem;
                font-size: 1.5rem;
                color: white;
                @include nav-item-width-height;
                border-radius: 50px;
                overflow: hidden;
                box-sizing: border-box;
								cursor: pointer;
								position: relative;
                &:hover {
                    background: rgba(0, 0, 0, 0.1);
								}
							.notification-count{
								font-size: 0.7rem;
								position: absolute;
								top: 4px;
								right: 6px;
								display: none;
							
							}
            }

            .notification-card{
							position: absolute;
							min-width: 250px;
							right: -500px;
							transition: 0.3s;

                .notificaion-item{
									padding-bottom: 0.6rem;
									background: white;
									transition: 0.3s;
									cursor: pointer;
									position: relative;
                    .notification-content{
											position: relative;	
                        .notification-type-icon{
													color: #636363;
													position: absolute;
													left: 0;
													font-size: 1.1rem;
													padding: 0.5rem;
													transition: 0.3s;
                            i{

                            }
                        }
                        .notification-text{
													margin: 0;
													padding: 0.5rem 1rem 0.5rem 2rem;
													text-align: left;
													transition: 0.3s;
													color: #636363;
                        }
                    }

                    .time-stamp{
											font-size: 0.75rem;
											color: #6f6f6f;
											position: absolute;
											left: 2rem;
											bottom: 1px;
											transition: 0.3s;
										}
										
										&:hover{
											background: $primary-hover-color;
											transition: 0.3s;
											.notification-content{
												.notification-type-icon{
													
												}

												.notification-text{
												}
											}

											.time-stamp{
											}
										}
								}
								
								&.open{
									right: 0;
									transition: 0.3s;
								}
            }
        }

        .message-container{
            display: inline-block;
            vertical-align: middle;

            .message-icon{
                display: inline-block;
                padding: 0.5rem 0rem;
                font-size: 1.5rem;
                color: white;
                @include nav-item-width-height;
                border-radius: 50px;
                overflow: hidden;
                box-sizing: border-box;
                cursor: pointer;

                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }

            }
        }
    }
    
}