.avatar{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
    // float: right;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.6509803921568628);

    img{
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}


